.suitcase {
  width: 400px;
  height: 300px;
  background-color: #FFD700; /* yellow color */
  border-radius: 20px;
  position: relative;
  z-index: 3;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* border: 1px solid rgb(7, 7, 7); */
}

.handle {
  width: 160px;
  height: 40px;
  border: 15px solid rgb(7, 7, 7);
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}
.skillIcon{
    z-index: 45;
    width: 70px;
    height: 70px;
}
.suitcase-body{
    text-align: center;
    padding: 20px;
    width: 100%;
}